/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 33%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    /*background-color: #111; Black */
    overflow-x: hidden; /*Disable horizontal scroll*/
    padding-left: 10px;
    padding-top: 20px;
    background-color: white;
    text-align: center;
    display: block;
}

/* Style page content */
.main {
    margin-left: 33%; /* Same as the width of the sidebar */
    padding: 0px 10px;
    text-align: center;
}

.contentPL{

}

.title {
    text-decoration: none;
}

.title:visited {
    color: black;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    /*.sidenav a {font-size: 18px;}*/
}

.contentNav{
    position: relative;
}

.inicio{
    overflow: auto;
}
